.container {
  margin: 0 auto;
  max-width: 1140px;
  width: $small-container-width;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;

  // Clear floating children
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    min-height: 1px;

    &[class*="push-"],
    &[class*="pull-"] {
      position: relative;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$i} {
        width: $perc;
        margin-left: auto;
        left: auto;
        right: auto;
      }

      @if $i < $num-cols {
          &.s#{$i} {
            padding-right: $gutter-width / 2;
          }
      }

      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.offset-s#{$i} {
        margin-left: $perc;
      }
      &.pull-s#{$i} {
        right: $perc;
      }
      &.push-s#{$i} {
        left: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$i} {
          width: $perc;
          margin-left: auto;
          left: auto;
          right: auto;
        }

        @if $i < $num-cols {
          &.m#{$i} {
            padding-right: $gutter-width / 1.5;
          }
        }

        $i: $i + 1
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-m#{$i} {
          margin-left: $perc;
        }
        &.pull-m#{$i} {
          right: $perc;
        }
        &.push-m#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$i} {
          width: $perc;
          margin-left: auto;
          left: auto;
          right: auto;
        }

        @if $i < $num-cols {
          &.m#{$i} {
            padding-right: $gutter-width / 1.5;
          }
        }

        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-l#{$i} {
          margin-left: $perc;
        }
        &.pull-l#{$i} {
          right: $perc;
        }
        &.push-l#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }
    @media #{$extra-large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.xl#{$i} {
          width: $perc;
          margin-left: auto;
          left: auto;
          right: auto;
        }

        @if $i < $num-cols {
          &.m#{$i} {
            padding-right: $gutter-width / 1.5;
          }
        }

        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-xl#{$i} {
          margin-left: $perc;
        }
        &.pull-xl#{$i} {
          right: $perc;
        }
        &.push-xl#{$i} {
          left: $perc;
        }
        $i: $i + 1;
      }
    }
  }
}

@media #{$small-and-down} {
  .col.hero-img {
    position: relative;
    width: 500px !important;
    height: 300px;
    left: -8% !important;
  }
}

@media #{$medium-and-up} {
  .container {
    width: $medium-container-width;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .row {
     position: relative;
  }

  .col.hero-img {
    // TODO: find a better method for "hero images"...
    // add background-img: url("/images/something.jpg") to inline style
    min-height: 700px;
    width: 900px !important;
    position: absolute;
    left: 44.333333% !important;
    top: -30%;  //NOTE: -18% should be the top, depends on various margins and padding
    z-index: -1;
  }
}

@media #{$large-and-up} {
  .container {
    width: $large-container-width;
  }

  .row .col {
    padding-right: $gutter-width;
  }
}
@media #{$extra-large-and-up} {
  .container {
    width: $extra-large-container-width;
  }
}