.tabs {
  /* &.tabs-transparent { */
  /*   background-color: transparent; */

  /*   .tab a, */
  /*   .tab.disabled a, */
  /*   .tab.disabled a:hover { */
  /*     color: $tab-font-color-disabled; */
  /*   } */

  /*   .tab a:hover, */
  /*   .tab a.active { */
  /*     color: $tab-font-color; */
  /*   } */

  /*   .indicator { */
  /*     background-color: $tab-indicator-color; */
  /*   } */
  /* } */

  &.no-indicator {
    .indicator {
      display: none;
    }
  }

  &.tabs-fixed-width {
    display: flex;

    .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }

  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: $tab-bg-color;
  margin: 0 auto;
  white-space: nowrap;
  background-image: none;

  .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    font-weight: $heading-weight;

    a {
      &:hover {
        color: $tab-font-color-hover;
      }

      &:hover, &.active {
        background-color: transparent;
      }

      &.active {
        color: $tab-font-color;
      }

      color: $tab-font-color-disabled;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 24px;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color .28s ease;
    }

    &.disabled a,
    &.disabled a:hover {
      color: $tab-font-color-disabled;
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $tab-indicator-color;
    will-change: left, right;
  }
}

// Fixed sideNav hide on smaller
@media #{$small-and-down} {
  .tabs {
    display: flex;

    .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      a {
        padding: 0 12px;
      }
    }
  }
}
