<!DOCTYPE html>
<html lang="en">
  {{> page/head socialData=this.socialData}}

  <body>
    <header>
      {{> page/nav}}
    </header>

    <div class="container">
      <main>
        {{{body}}}
      </main>

      <!-- TODO: add a similar partial for footers -->
      <footer class="footer">
        <p>© 2016 Rates and Agents LLC</p>
      </footer>

    </div>
    {{#if includeMap}}
      <script src="https://maps.googleapis.com/maps/api/js?key={{data.googleMaps.apiKey}}&libraries=places&callback=initMap" async defer></script>
    {{/if}}
  </body>
</html>
