<!DOCTYPE html>
<html>
  <body>
    <head>
      <title>Rates and Agents</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="client_side/dist/css/main.css?tcb={{getDateNumeral}}" />
      <!-- TODO serve icon font locally? -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <script type="text/javascript" src="client_side/dist/js/vendor/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="client_side/dist/js/vendor/materialize.min.js"></script>
    </head>
  
  <div class="container">

    {{{body}}}

    <footer class="footer">
      <p>© 2016 Rates and Agents LLC</p>
    </footer>

  </div>
  </body>
</html>

