<!DOCTYPE html>
<html>
  <body><head>
    <title>Rates and Agents</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/jumbotron-narrow.css" />
  </head>
  
  <div class="container">

    {{{body}}}

    <footer class="footer">
      <p>© 2016 Rates and Agents LLC</p>
    </footer>

  </div>
  </body>
</html>

