<!DOCTYPE html>
<html>
  {{> page/head socialData=this.socialData}}

  <body class="white">

    {{> page/nav type=this.navType data=this.navData}}

    <div class="container">
      {{{body}}}

      <!-- TODO: add a similar partial for footers -->
      <footer class="footer">
        <p>© 2016 Rates and Agents LLC</p>
      </footer>

    </div>
  </body>
</html>
