<!DOCTYPE html>
<html>
  {{> page/head socialData=this.socialData}}

  <body>
    <header>
      {{> page/nav type=this.navType data=this.navData}}
    </header>

    <div class="container">
      <main>
        {{{body}}}
      </main>

      <!-- TODO: add a similar partial for footers -->
      <footer class="footer">
        <p>© 2016 Rates and Agents LLC</p>
      </footer>

    </div>
  </body>
</html>
