<div class="container">
  <div class="row">
    <div class="col m12 l8">
      <h3 class="very-small-r-room">Your Listings</h3>
      <p>These are the listings that you have created with Rates and Agents.</p>
    </div>
    <div class="col l4 med-t-room hide-on-med-and-down"></div>
    <div class="col m12 l4">
      <ul class="collapsible popout">
        <li>
          <div class="collapsible-header active">Listings</div>
          <div class="collapsible-body">
            <p>In order to get enough bids, we recommend an auction length of at least ten days, but an auction as few as 7 days should get you a good variety of bids on your listing.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Auction Start Date</div>
          <div class="collapsible-body">
            <p>We'll email you when your auction starts. Once the auction has completed, we'll send you a list of realtors.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
