<div class="container">
  <div class="row">
    <div class="col m12 l8">
      <h3 class="very-small-r-room">Your Desired Closing Date</h3><h5>Step 3 of 4</h5>
      <p>Please tell us about the date by which you'd like to sell your home. We provide these dates to prospective realtors and they will adjust their expectations and bids based on these values.</p>
      <form method="post" id="closing-date-form" action="/homeowners/closing-date-information">
        <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
        <div class="row small-t-room">
          <div class="col s12 m5 l4">
            <div class="row">
              <div class="col s12">
                {{{dateField labelFirst="true" overwriteClass="true" name="closingDate" msg=messages.closingDate label="Desired Closing Date: " data=(formatDate data.listing.closingDate)}}}
              </div>
              <div class="col s12">
                {{{dateField labelFirst="true" overwriteClass="true" name="closingDateMin" msg=messages.closingDateMin label="Earliest Acceptable Closing Date: " data=(formatDate data.listing.closingDateMin)}}}
              </div>
              <div class="col s12">
                {{{dateField labelFirst="true" overwriteClass="true" name="closingDateMax" msg=messages.closingDateMax label="Latest Acceptable Closing Date: " data=(formatDate data.listing.closingDateMax)}}}
              </div>
            </div>
            <div class="input-field small-b-room">
              <button class="btn waves-effect waves-light" type="submit">Next</button>
            </div>
          </div>
          <div class="col s12 m7 l8 small-b-room">
            <img class="responsive-img small-t-room med-r-room" src="/images/sold_home.jpg">
          </div>
        </div>
      </form>
    </div>
    <div class="col l4 med-t-room hide-on-med-and-down"></div>
    <div class="col m12 l4">
      <ul class="collapsible popout">
        <li>
          <div class="collapsible-header active">About Closing Dates and Commission</div>
          <div class="collapsible-body">
            <p>If you are proposing a lower commission rate than the default 6% normally allocated to buying and selling agents, then you may want to be more flexible with your closing date. Specifically, more flxibility with your desired and latest acceptable closing dates may go a long way in giving a realtor the time they need to find you a buyer.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Closing Dates and Move Out Dates</div>
          <div class="collapsible-body">
            <p>Pick an earliest and latest sales date that you can actually abide by. This does not have to be your offical move out date, but it should be within a reasonable time of it. One to two weeks is the standard. Anything beyond this will have to be negotiated with the buyers and may result in having a negative impact upon your sale price.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Earliest and Latest Closing Dates</div>
          <div class="collapsible-body">
            <p>These should be dates that you are comfortable with. The earliest date should be earlier or the same date as your desired closing date. Similarly, the latest date should be later or the same date as your desired closing dates. The only requirements for these dates is to be honest with your own expectations so that your realtor can meet or exceed them.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
