<div class="row">
  <div class="col s6">
    <div class="card small-h-room">
      <!-- TODO: maybe add a wave effect here -->
      <a href="#">
      <div class="card-image">
        <img class="activator hoverable" src="/images/home2.jpg">
        <span class="card-title hoverable z-depth-2 blue darken-2">See an example home listing.</span>
      </div>
      </a>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <!-- TODO: maybe add a wave effect here -->
      <a href="/homeowners/basic-home-information">
        <div class="card-image">
          <img class="activator hoverable" src="/images/home1.jpg">
          <span class="card-title hoverable z-depth-2 blue darken-2">Create your searchable home listing.</span>
        </div>
      </a>
    </div>
  </div>
</div>
