<div id="address-and-home-type">
  {{> dashboard/address-and-home-type}}
</div>
<div id="listing-price-and-commission">
  {{> dashboard/listing-price-and-commission}}
</div>
<div id="sale-date">
  {{> dashboard/sale-date}}
</div>
<div id="auction">
  {{> dashboard/auction}}
</div>
