<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h2>What happened?</h2>
        <p>A 500 error status implies there is a problem with the web server's software causing it to malfunction.</p>
      </div>
      <div class="col s12 m6">
        <h2>What can I do?</h2>
        <p> Nothing you can do at the moment. If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <b>Sorry!</b><p class="bigger">The web server is returning an internal error.</p>
    <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg small-v-room center text-center">Try This Page Again</a>
  </div>
</div>
