{{> page/errors}}
{{> page/flash_msgs}}
<div class="big-v-room section">
<div class="row">
  <h4 class="col center s12 m12">Create your Rates and Agents Account</h4>
  <div class="col s8 push-s2 m6 push-m3 divider very-small-v-room"></div>
  <h6 class="col center s12 m8 push-m2">or you can <a href="/homeowners/dashboard/anonymous">go ahead and check it out <b>now</b></a></h6>
</div>
<div class="row very-small-v-room">
<div class="col s12 m6 push-m3">
<form method="post" action="/homeowners/register">
  <div class="input-field shift-left-and-extend">
    <i class="material-icons prefix">email</i>
    <input type="email" name="email" class="form-control" value="{{#if email}}{{email}}{{/if}}" placeholder="email">
  </div>
   <div class="input-field shift-left-and-extend">
     <i class="material-icons prefix">vpn_key</i>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <div class="input-field shift-left-and-extend">
    <i class="material-icons prefix">vpn_key</i>
    <input type="password" name="passwordconfirm" class="form-control" placeholder="Confirm Password">
  </div>
  <div class="input-field very-small-v-room">
    <button type="submit" class="btn btn-large full-width waves-effect">Submit</button>
  </div>
</form>
</div>
</div>
</div>
<!--
    <div class="center">
       <p>Login or Register with:<a class="btn blue very-small-l-room" href="/realtors/auth/facebook">Facebook</a></p>
    </div> -->
