<div class="section no-pad-bot">
  <div class="container">
    <div class="row">
      <h4 class="med-b-room hide-on-small-only">Sign in</h4>
      <h3 class="med-t-room small-b-room hide-on-med-and-up">Sign in</h3>
      <div class="big-b-room col s12 m4">
        <div class="small-divider"></div>
        <h5 class="hide-on-small-only small-b-room">Homeowner</h5>
        <p class="hide-on-small-only">Setup your free listing and find everything you need to sell your home today!</p>
        <a class="hide-on-med-and-up small-t-room very-small-b-room btn btn-large btn-full-length waves-light waves-effect" href="/homeowners/login" role="button">Homeowner Sign in<i class="material-icons right">trending_flat</i></a>
        <a class="hide-on-small-only small-t-room btn btn-large btn-full-length waves-light waves-effect" href="/homeowners/login" role="button">Homeowner Sign in<i class="material-icons right">trending_flat</i></a>
      </div>
      <div class="col s12 m4 offset-m2">
        <div class="hide-on-small-only small-divider"></div>
        <h5 class="hide-on-small-only small-b-room">Realtor</h5>
        <p class="hide-on-small-only">View existing listings, bid on a new listing, and sell more homes.</p>
        <a class="hide-on-med-and-up med-b-room very-small-t-room btn btn-large btn-full-length waves-light waves-effect" href="/homeowners/login" role="button">Realtor Sign in<i class="material-icons right">trending_flat</i></a>
        <a class="hide-on-small-only small-v-room btn btn-large btn-full-length waves-light waves-effect" href="/homeowners/login" role="button">Realtor Sign in<i class="material-icons right">trending_flat</i></a>
      </div>
      <div class="med-b-room hide-on-small-only"></div>
      <div class="col s12 hero-img bathroom-tiles hide-on-med-and-up">
      </div>
    </div>
  </div>
</div>
