<div class="section big-v-room">
  <h1>Start a bidding war for the right to represent your home</h1>
  <p>Rates and Agents lets local realtors bid their commissions to increase their chances of being your selling agent. Setup a bid and checkout reviews of realtors from actual homeowners. Take home more money.</p>
  <div class="med-v-room">
    <a class="btn btn-large blue lighten-2 waves-light waves-effect small-r-room" href="#homeowner-products">View Example</a><a class="btn btn-large grey lighten-3 light-green-text text-lighten-1 waves-light waves-effect" href="/homeowners/register" role="button">Create Account</a>
  </div>
</div>
<div class="row">
<div class="section med-v-room col m6 s12 right-align">
  <h3>Helping realtors to sell more homes more quickly</h3>
  <p>Rates and Agents provides realtors with more leads so that they can have more sales. We don't ask for any percentage of your commisions. We ask a small fee per bid placed in return for the chance to be presented to a homeowner as one of their top realtor options.</p>
  <div class="divider small-v-room"></div>
  <a class="btn-flat blue-text text-lighten-2 waves-effect waves-light" href="#!">Sell more homes now</a>
</div>
</div>
<div class="section big-v-room row">
  <div class="section center-align col s12 m6 push-m3">
    <i class="large material-icons">people</i>
    <h3>Homeowners, find out more about your realtor</h3>
    <p>At no cost to you, tell us about your home and have realtors compete for your business. Browse realtors based on their services, past performance in your area, and their upfront commission rates. Choose the right realtor for you</p>
  </div>
  <div class="input-field col s12 hide-on-med-and-up">
  <select>
    <option selected value="bids">Winning Bids</option>
    <option value="reviews">Reviews</option>
    <option>Fact Sheet</option>
    <option value="signup">Sign up</option>
  </select>
  </div>
  <div id="homeowner-products" class="blue lighten-2 col s12 m9 placeholder-height small-v-room scrollspy">

  </div>
  <div class="lighten-1 col m3 placeholder-height hide-on-small-only small-v-room">
    <ul>
      <li><button class="btn-flat left-align full-width">Winning Bids</button></li>
      <li><button class="btn-flat left-align full-width">Reviews</button></li>
      <li><button class="btn-flat left-align full-width">Fact Sheet</button></li>
      <li class="very-small-v-room divider"></li>
      <li><a class="btn-flat left-align full-width" href="/homeowners/register">Sign up</a></li>
    </ul>
  </div>
</div>
