<div class="section no-pad-bot">
  <div class="container">
    <div class="row">
      <h4 class="med-b-room">Sign in</h4>
      <div class="col s12 m4">
        <div class="small-divider"></div>
        <h5 class="small-b-room">Homeowner</h5>
        <p>Setup your free listing and find everything you need to sell your home today!</p>
        <a class="small-t-room btn btn-large btn-full-length waves-light waves-effect" href="/homeowners/login" role="button">Homeowner Sign in<i class="material-icons right">trending_flat</i></a>
      </div>
      <div class="col s12 m4 offset-m2">
        <div class="small-divider"></div>
        <h5 class="small-b-room">Realtor</h5>
        <p>View existing listings, bid on a new listing, and sell more homes.</p>
        <a class="small-v-room btn btn-large btn-full-length waves-light waves-effect" href="/homeowners/login" role="button">Realtor Sign in<i class="material-icons right">trending_flat</i></a>
      </div>
      <div class="col s12 hero-img bathroom-tiles hide-on-med-and-up">
      </div>
    </div>
  </div>
</div>
