<div class="section no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s11 m5 med-b-room">
        <h3>Find the best realtor to sell your home.</h3>
        <p class="bigger">Take home more money from your home sale with a reduced or flat fee realtor commission. No cost for homeowners, a small fee for realtors.</p>
        <a class="small-t-room btn btn-large waves-light waves-effect" href="/homeowners/register" role="button">Get Started</a>
      </div>
      <!-- TODO: change this to an image of a realtor result -->
      <div class="col s12 m6 offset-m1 hero-img endless-clouds">
      </div>
    </div>
  </div>
</div>
<div class="section green white-text">
  <div class="container very-small-t-room">
    <div class="row">
      <h6 class="smallcaps">Homeowner Benefits</h6>
      <h4 class="light small-v-room">Why Rates & Agents?</h4>
      <div class="col s12 m5">
        <div class="small-b-room">
          <h5 class="light no-t-margin">Get the right realtor for the right price.</h5>
          <p>Your listing on Rates and Agents will attract realtors at a reduced commission rate that will fight to get you the highest dollar possible on your home sale.</p>
        </div>
        <div class="small-b-room">
          <h5 class="light no-t-margin">Learn more about prospective realtors.</h5>
          <p>We provide detailed easy to read realtor resume's so that homeowners know exactly who they'll be working with.</p>
        </div>
      </div>
      <div class="col s12 m5 offset-m2">
        <div class="small-b-room">
          <h5 class="light no-t-margin">No cold calls ever.</h5>
          <p>We'll be your buffer between you and any realtors. Check them out and contact them when you're ready to sell your home.</p>
        </div>
        <div class="small-b-room">
          <h5 class="light no-t-margin">Attract home buyers.</h5>
          <!-- TODO: look into this some more, can we be used as a referral? -->
          <p>Setup your free listing and get noticed by more buy-side and sale-side realtors. Rates and Agents has easy to read and understand home listings that can help you sell your home today.</p>
        </div>
      </div>
      <div class="col s12">
        <a class="btn btn-large very-small-v-room white-text waves-effect" href="/how-it-works">Discover how it works</a>
      </div>
    </div>
  </div>
</div>
<div class="section grey lighten-4">
  <div class="container very-small-t-room">
    <div class="row">
      <div class="col s12 m6">
        <h6 class="smallcaps"><b>Pricing</b></h6>
        <h4 class="small-v-room">Free for homeowners. A small fee for realtors.</h4>
        <div class="small-b-room">
          <h5>Lower realtor costs, more homeowner options.</h5>
          <p>Signing up for Rates and Agents as a realtor or a homeowner is free. For every bid that a realtor submits on a home listing, we charge $10.</p>
        </div>
        <div class="small-b-room">
          <h5>No referral fees for buy-side agents.</h5>
          <p>When a buy-side agent scopes out your listing and it leads to a home sale, we don't charge a dime.</p>
        </div>
        <a class="btn btn-large very-small-v-room white-text waves-effect" href="/how-it-works">Find out more</a>
      </div>
      <!-- <div class="col s12 m6"> -->
      <!-- put image or chart here -->
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="section grey lighten-2">
  <div class="container very-small-t-room">
    <div class="row">
      <h6 class="smallcaps"><b>Getting Setup</b></h6>
      <h4 class="small-v-room">Start your listing today.</h4>
      <div class="col s12 m5">
        <div class="small-b-room">
          <h5 class="no-t-margin">Easy to setup, easy to read, quicker to make a sale.</h5>
          <p>We use data from Zillow and local governments to fill in most of the details for you. Give us the address and some small details and we'll get your house sold with less hassle for you.</p>
        </div>
      </div>
      <!-- <div class="col s12 m5 offset-m1"> -->
      <!-- put image or more info or chart here -->
      <!-- </div> -->
      <div class="col s12">
        <a class="btn btn-large very-small-v-room white-text waves-effect" href="/homeowners/register">Register today</a>
      </div>
    </div>
  </div>
</div>
