<div class="header clearfix">
  {{> page/nav-realtors}}
  <h3 class="text-muted">Rates and Agents</h3>
</div>
{{> page/errors}}
{{> page/flash_msgs}}
<div class="jumbotron">
  <h1>Welcome {{realtor.name}}!</h1>
</div>
