<div class="header clearfix">
  {{> page/nav-realtors}}
  <h3 class="text-muted">Rates and Agents</h3>
</div>
{{> page/errors}}
{{> page/flash_msgs}}
<h2 class="page-header">Realtor Account Login</h2>
<form method="post" action="/realtors/login">
  <div class="form-group">
    <label>Username <b>OR</b> Email</label>
    <input type="text" name="username" class="form-control" value="{{#if username}}{{username}}{{/if}}" placeholder="janie-the-realtor">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
