<div class="row">
  <div class="col s12 m8">
    <h3 class="very-small-r-room">Your Desired Sale Date</h3><h5>Step 3 of 4</h5>
    <p>Please tell us about the date by which you'd like to sell your home. We provide these dates to prospective realtors and they will adjust their expectations and bids based on these values.</p>
  </div>
</div>
<form method="post" id="auction-setup-form" action="/homeowners/auction-information">
  <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
  <div class="row">
    <div class="col m12 l8">
      <div class="row">
        <div class="col s12 m5 l4">
          <!-- NEED: flat fee (if any), tier 0, tier 1, tier 2 price, tier 3 price + commissions for each -->
          <!-- TODO: make these text fields??  -->
          <div class="row">
            <div class="col s12">
              {{{dateField labelFirst="true" overwriteClass="true" name="desired_sale_date" msg=messages.desired_sale_date label="Desired Closing Date: " data=data.desired_sale_date}}}
            </div>
            <div class="col s12">
              {{{dateField labelFirst="true" overwriteClass="true" name="min_sale_date" msg=messages.min_sale_date label="Earliest Acceptable Closing Date: " data=data.min_sale_date}}}
            </div>
            <div class="col s12">
              {{{dateField labelFirst="true" overwriteClass="true" name="max_sale_date" msg=messages.max_sale_date label="Latest Acceptable Closing Date: " data=data.max_sale_date}}}
            </div>
          </div>
       </div>
       <div class="col s12 m7 l8">
         <!-- TODO: image of sold house goes here -->
         <button class="submit btn">Next</button>
         <img class="responsive-img small-t-room med-r-room" src="/images/sold_home.jpg">
       </div>
     </div>
      <!-- add number to words converter here -->
    </div>
    <div class="col m12 l4">
      <ul class="collapsible popout small-l-room">
        <li>
          <div class="collapsible-header active">About Closing Dates and Commission</div>
          <div class="collapsible-body">
            <p>If you are proposing a lower commission rate than the default 6% normally allocated to buying and selling agents, then you may want to be more flexible with your closing date. Specifically, more flxibility with your desired and latest acceptable closing dates may go a long way in giving a realtor the time they need to find you a buyer.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Closing Dates and Move Out Dates</div>
          <div class="collapsible-body">
            <p>Pick an earliest and latest sales date that you can actually abide by. This does not have to be your offical move out date, but it should be within a reasonable time of it. One to two weeks is the standard. Anything beyond this will have to be negotiated with the buyers and may result in having a negative impace upon your sale price.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Earliest and Latest Closing Dates</div>
          <div class="collapsible-body">
            <p>These should be dates that you are comfortable with. The earliest date should be earlier or the same date as your desired closing date. Similarly, the latest date should be later or the same date as your desired closing dates. The only requirements for these dates is to be honest with your own expectations so that your realtor can meet or exceed them.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</form>
