
//colors
$facebook-blue: #3B5998;
$twitter-blue: #33ACEE;

//fonts
$font-backup:   "Helvetica Neue", Helvetica, sans-serif;
$font-default:  $font-backup;
$font-small:    $font-backup;
$font-mono:     "Courier New", monospace;

$weight-light:   300;
$weight-regular: 400;
$weight-heavy:   500;
$weight-bold:    600;

$font-base-size: 16px;
