//custom main-sales

//materialize customizations
.waves-effect.waves-light-green .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(#8bc34a, 0.65);
}


//spacing and size related
$big-room: 6rem;
$med-room: 4.5rem;
$small-room: 2rem;
$very-small-room: 0.75rem;

.big-t-room {
  margin-top: $big-room;
}
.big-b-room {
  margin-bottom: $big-room;
}
.big-v-room {
  @extend .big-t-room;
  @extend .big-b-room;
}

.big-l-room {
  margin-left: $big-room;
}
.big-r-room {
  margin-right: $big-room;
}
.big-h-room {
  @extend .big-r-room;
  @extend .big-l-room;
}

.med-t-room {
  margin-top: $med-room;
}
.med-b-room {
  margin-bottom: $med-room;
}
.med-v-room {
  @extend .med-t-room;
  @extend .med-b-room;
}

.med-l-room {
  margin-left: $med-room;
}
.med-r-room {
  margin-right: $med-room;
}
.med-h-room {
  @extend .med-r-room;
  @extend .med-l-room;
}

.small-t-room {
  margin-top: $small-room;
}
.small-b-room {
  margin-bottom: $small-room;
}
.small-v-room {
  @extend .small-t-room;
  @extend .small-b-room;
}

.small-l-room {
  margin-left: $small-room;
}
.small-r-room {
  margin-right: $small-room;
}
.small-h-room {
  @extend .small-r-room;
  @extend .small-l-room;
}


.very-small-t-room {
  margin-top: $very-small-room;
}
.very-small-b-room {
  margin-bottom: $very-small-room;
}
.very-small-v-room {
  @extend .very-small-t-room;
  @extend .very-small-b-room;
}


.very-small-l-room {
  margin-left: $very-small-room;
}
.very-small-r-room {
  margin-right: $very-small-room;
}
.very-small-h-room {
  @extend .very-small-r-room;
  @extend .very-small-l-room;
}


.full-width {
  width: 100%;
}
.placeholder-height {
  height: 30em;
}

.divider {
  @extend .divider;
  height: 2px;
  background-color: #f1f7fb;
}

.small-divider {
  @extend .divider;
  height: 2px;
  width: 15%;
  background-color: #f1f7fb;
}

//for card titles
.card .card-image .card-title {
  bottom: -1.5em;
  left: -0.5em;
  max-width: 100%;
}

#map {
  height: 300px;
}

//special purpose for forms with pre icons
@media #{$medium-and-up} {
  input.shift-left-and-extend {
    left: -9%;
    width: 110%;
  }
  button.shift-left-and-extend {
    width: 110%;
    left: -2.5%;
  }
}

.ra-slider {
  margin: 2rem 0;
}


//special purpose for form error msgs
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  & + label:after {
    top: 190%;
    font-size: 0.85em
  }
  & + label.active:after {
    top: 330%;
    transition: top .2s linear;
  }
}

.collapsible-body .input-field {
  margin-right: 2rem;
  margin-left: 2rem;
}

.collapsible-body p.inline-input {
  padding: 0.5rem 2rem;
}

.collapsible-body {
  @extend .grey, .lighten-4;
}

.extra-info {
  font-size: 12px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

.bathroom-tiles {
  background-color: #2d5981;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%232dafdd' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.endless-clouds {
  background-color: #2d5981;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='28' viewBox='0 0 56 28'%3E%3Cg fill='%232dafdd' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z'/%3E%3C/g%3E%3C/svg%3E");
}