//custom main-sales

//materialize customizations
.waves-effect.waves-light-green .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(#8bc34a, 0.65);
}


//spacing and size related
$big-room: 6rem;
$med-room: 4.5rem;
$small-room: 2rem;
$very-small-room: 0.75rem;

.big-t-room {
  margin-top: $big-room;
}
.big-b-room {
  margin-bottom: $big-room;
}
.big-v-room {
  @extend .big-t-room;
  @extend .big-b-room;
}

.big-l-room {
  margin-left: $big-room;
}
.big-r-room {
  margin-right: $big-room;
}
.big-h-room {
  @extend .big-r-room;
  @extend .big-l-room;
}

.med-t-room {
  margin-top: $med-room;
}
.med-b-room {
  margin-bottom: $med-room;
}
.med-v-room {
  @extend .med-t-room;
  @extend .med-b-room;
}

.med-l-room {
  margin-left: $med-room;
}
.med-r-room {
  margin-right: $med-room;
}
.med-h-room {
  @extend .med-r-room;
  @extend .med-l-room;
}

.small-t-room {
  margin-top: $small-room;
}
.small-b-room {
  margin-bottom: $small-room;
}
.small-v-room {
  @extend .small-t-room;
  @extend .small-b-room;
}

.small-l-room {
  margin-left: $small-room;
}
.small-r-room {
  margin-right: $small-room;
}
.small-h-room {
  @extend .small-r-room;
  @extend .small-l-room;
}


.very-small-t-room {
  margin-top: $very-small-room;
}
.very-small-b-room {
  margin-bottom: $very-small-room;
}
.very-small-v-room {
  @extend .very-small-t-room;
  @extend .very-small-b-room;
}


.very-small-l-room {
  margin-left: $very-small-room;
}
.very-small-r-room {
  margin-right: $very-small-room;
}
.very-small-h-room {
  @extend .very-small-r-room;
  @extend .very-small-l-room;
}


.full-width {
  width: 100%;
}
.placeholder-height {
  height: 30em;
}

.divider {
  @extend .divider;
  height: 2px;
  background-color: #f1f7fb;
}

.small-divider {
  @extend .divider;
  height: 2px;
  width: 15%;
  background-color: #f1f7fb;
}

//for card titles
.card .card-image .card-title {
  bottom: -1.5em;
  left: -0.5em;
  max-width: 100%;
}

#map {
  height: 300px;
}

//special purpose for forms with pre icons
@media #{$medium-and-up} {
  input.shift-left-and-extend {
    left: -9%;
    width: 110%;
  }
  button.shift-left-and-extend {
    width: 110%;
    left: -2.5%;
  }
}

.ra-slider {
  margin: 2rem 0;
}


//special purpose for form error msgs
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  & + label:after {
    top: 190%;
    font-size: 0.85em
  }
  & + label.active:after {
    top: 330%;
    transition: top .2s linear;
  }
}

.collapsible-body .input-field {
  margin-right: 2rem;
  margin-left: 2rem;
}

.collapsible-body p.inline-input {
  padding: 0.5rem 2rem;
}

.collapsible-body {
  @extend .grey, .lighten-4;
}

.extra-info {
  font-size: 12px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

.bathroom-tiles {
  background-color: #2d5981;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%232dafdd' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}