<head>
  <title>Rates and Agents</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="/css/main.css?tcb={{getDateNumeral}}" />

  <!-- TODO serve fonts locally? -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->

  {{{socialTags socialData=this.socialData}}}

  <script type="text/javascript" src="/js/vendor/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/vendor/materialize.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap-3.3.7-popover.min.js"></script>
  <script type="text/javascript" src="/js/client_side.js?tcb={{getDateNumeral}}"></script>
</head>
