<head>
  <title>Rates and Agents</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <link rel="stylesheet" href="/css/main.css?tcb={{getDateNumeral}}" />
  <link rel="stylesheet" href="/css/vendor/nouislider.min.css?tcb={{getDateNumeral}}" />

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
   WebFontConfig = {
     google: { families: ['Libre Baskerville:n4', 'Raleway:n6', 'Open Sans:n4,i4,n7', 'Material Icons']}
   };

   (function(d) {
     var wf = d.createElement('script'), s = d.scripts[0];
     wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
     s.parentNode.insertBefore(wf, s);
   })(document);
  </script>
  <!-- TODO serve fonts locally? -->
  {{{socialTags socialData=this.socialData}}}

  <!-- TODO: check into need for all of these -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/images/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Rates and Agents"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/images/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/images/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/images/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/images/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/images/mstile-310x310.png" />
</head>
