<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="/">Dashboard</a></li>
    <li role="presentation"><a href="/homeowners/login">Login</a></li>
    <li role="presentation"><a href="/homeowners/register">Register</a></li>
  </ul>
</nav>
