<nav {{#if tabData}}class="nav-extended"{{/if}}>
  <div class="nav-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s10 hide-on-large-only">
          <div class="row">
            <div class="col s2">
              <a href="/"><img class="brand-icon responsive-img" src="/images/ra-icon.png" /></a>
            </div>
            <div class="col s10">
              <a href="#" class="logo brand-logo">Rates and Agents</a>
            </div>
          </div>
        </div>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{{navLinks navData=this.navData navType="main-nav"}}}
        </ul>
        <ul class="side-nav" id="mobile-nav">
          {{{navLinks navData=this.navData navType="mobile-main-nav"}}}
        </ul>
        {{#if tabData}}
          <ul class="tabs tabs-transparent">
            {{{navLinks tabData=this.tabData navType="tabs"}}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
